.notebook-wrapper {
  width: 100%;
}

div.notebook {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  width: 60%;
  width: 60vw;
}

div.editor-container {
  background: #f5f5f5;
  border-left: solid 2px #959595;
  box-sizing: border-box;
  float: left;
  height: 100%;
  left: 60vw;
  left: calc(60vw + 2px);
  right: 0;
  position: absolute;
  width: 40%;
  width: 40vw;
}

/* hide code */
div.notebook div.codewrap {
  display: none;
}

/* hide yield images from view */
/* (we're still relying on the amount of space they take up in the layout) :D */
div.notebook .yields img {
  opacity: 0;
}

/* specificity necessary to override injected styles */
div.ace-github,
div.ace-content {
  background: transparent;
}