/* hide code */
/*div.notebook div.codewrap {
  display: none;
}*/

/* hide yield images from view */
/* (we're still relying on the amount of space they take up in the layout) :D */
/*div.notebook .yields img {
  opacity: 0;
}*/

div.ace_editor {
  border: none;
}

/* specificity necessary to override injected styles */
div.ace-github,
div.ace-content {
  background: #eee;
}