body {
  background: #888;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

div.wrapper {
  margin: 0 auto;
  width: 55em;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

@media only screen and (max-width: 800px) {
  div.wrapper {
    padding: 0;
    width: 100%;
    border: none;
  }
}

a {
  color: #2A64C7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.notebook {
  padding: 32pt 64pt;
  background: white;
  min-height: 400pt;
  z-index: -2;
}

div.notebook h1,
div.notebook h2,
div.notebook h3 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

div.notebook h1 {
  font-size: 28pt;
  margin-bottom: 12pt;
  padding-bottom: 4pt;
  border-bottom: 3px solid rgba(0,0,0,0.125);
}

div.notebook h2 {
  font-size: 22pt;
  margin-bottom: 10pt;
  padding-bottom: 3pt;
  border-bottom: 2px solid rgba(0,0,0,0.125);
}

div.notebook h3 {
  font-size: 16pt;
  margin-bottom: 8pt;
  padding-bottom: 2pt;
}

div.notebook p {
  font-size: 12pt;
  line-height: 19pt;
  margin: 0;
  margin-bottom: 12pt;
  text-align: justify;
}

div.notebook div.codewrap {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #eee;
  padding: 8pt;
  font-size: 10pt;
  color: #000;
  margin: 0;
  margin-bottom: 12pt;
}
div.notebook div.code {
  font-family: Menlo, monospace;
  white-space: pre;
  overflow: hidden;
}

div.notebook .yields img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -28.5pt;
  margin-bottom: 4pt;
}

div.notebook table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  margin-top: -12pt;
  margin-bottom: 36pt;
  background: white;
}
div.notebook th,
div.notebook td {
  border: 1px solid #ccc;
  padding: 4pt 8pt;
  text-align: left;
  line-height: 19pt;
}
div.notebook th {
  font-size: 10pt;
  background: #eee;
}
div.notebook td {
  font-size: 12pt;
}

div.notebook div.cell {
  position: relative;
  z-index: 1;
  margin-bottom: 12pt;
}

div.notebook img {
  max-width: 100%;
}

div.editor {
  position: absolute;
  z-index: 2;
  display: none;
}

div.notebook hr {
  border: 0;
  height: 3px;
  background: #ccc;
}

#addbar {
  padding-right: 12pt;
  padding-bottom: 12pt;
}
#add-prose,
#add-code {
  float: right;
  margin-left: 4pt;
  padding: 3pt 6pt;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 10pt;
  color: white;
}
#addbar a:hover {
  text-decoration: none;
}
#add-prose {
  background: #2A64C7;
  border-color: #19448C;
}
#add-code {
  background: #BA1BC5;
  border-color: #820E8A;
}

div.cursor {
  margin-left: -24pt;
  padding-left: 12pt;
  border-left: 12pt solid #D6F717;
}

div.cursor-edit {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-left: 12pt solid #D6F717;
  margin-left: -12pt;
  margin-bottom: 9pt;
}

div.ace_editor {
  box-sizing: border-box;
  border: 1px solid #D6F717;
  font-size: 10pt;
  margin: 0;
}
.ace-github .ace_gutter {
  background: #D6F717 !important;
}

div.pyresult:before {
  content: "→ ";
}
div.pyresult {
  font-family: Menlo, monospace;
  white-space: pre;
  border: 1px solid #99c0ff;
  border-radius: 2px;
  background: #f7faff;
  padding: 8pt;
  font-size: 10pt;
  color: #2A64C7;
  margin-top: -24pt;
  margin-bottom: 36pt;
}

div.plot {
  margin-left: 90px;
  margin-top: -20pt;
}

.hamburger-menu {
  position: fixed;
  top: 8pt;
  left: 8pt;
  cursor: pointer;
}
.hamburger-menu ul {
  list-style-type: none;
  font-size: 9pt;
  padding: 0;
}
.hamburger-menu li {
}
.hamburger-menu hr {
  opacity: 0;
}
.hamburger-menu img {
  width: 16pt;
  height: 16pt;
  opacity: 0.5;
}

.menu-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateZ(0);
  transform: translateY(-10%);
  transition: all 0.5s;
}

.hamburger-menu.active .menu-content {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0s;
}

.hamburger-menu a {
  color: #333;
  text-decoration: none;
}
.hamburger-menu a:hover {
  color: #000;
}

#upload {
  box-sizing: border-box;
  border: 6pt dashed #ccc;
  border-radius: 24pt;
  width: 250pt;
  min-height: 150pt;
  margin: 20pt auto;
  padding: 24pt;
  padding-top: 32pt;
  background: rgba(0,0,0,0.03);
  color: #888;
}

#upload h1 {
  font-size: 16pt;
  border: 0;
}

#upload.hover {
  border: 6pt dashed #FF8018;
  background: rgba(255,128,24,0.3);
}

#upload.hover h1 {
  color: #D36B14;
}
