body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #888;
}

#notebook {
  margin: 0 auto;
  width: 60em;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  background: #fff;
}

div.cell {
  padding-left: 64pt;
  padding-right: 64pt;
  border-bottom: 1px dashed #eee;
}

#code {
  height: 10em;
  position: relative;
}

#code #editor { 
  position: absolute;
  top: 0;
  right: 64pt;
  bottom: 0;
  left: 64pt;
}

circle {
  fill: green;
}

circle.selected {
  fill: lightblue;
}

tr.selected {
  background-color: lightblue;
}


#plot {
  height: 300px;
}

#data {
  overflow: scroll;
  height: 20em;
}

#data table {
  border-collapse: collapse;
}

#data th {
  background: #ddd;
}

#data th, td {
  border: 1px solid #ccc;
  padding: 2pt 4pt;
  font-size: 75%;
}

