body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #888;
}

#notebook {
  margin: 0 auto;
  padding: 16pt 0;
  width: 60em;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  background: #fff;
}

div.cell {
  padding: 8pt 64pt;
  border-bottom: 1px dashed #ccc;
}

div.gutter {
  float: left;
  color: #777;
  font-family: monospace;
  font-size: 75%;
  position: relative;
  top: 24pt;
  left: 24pt;
}

.code {
  height: 10em;
  position: relative;
}

.code .editor { 
  top: 0;
  right: 64pt;
  bottom: 0;
  left: 64pt;
  height: 100px;
}

circle {
  fill: green;
}

circle.selected {
  fill: lightblue;
}

tr.selected {
  background-color: lightblue;
}


#plot {
  height: 300px;
}

#data {
  overflow: scroll;
  height: 20em;
  padding-top: 12pt;
}

#data table {
  border-collapse: collapse;
}

#data th {
  background: #ddd;
}

#data th, td {
  border: 1px solid #ccc;
  padding: 2pt 4pt;
  text-align: left;
}
#data th {
  font-size: 50%;
}
#data td {
  font-size: 75%;
}

h1 {
  margin: 0;
  margin-bottom: 6pt;
}
p {
  margin: 0;
  margin-bottom: 2pt;
}

button.newb {
  height: 50px;
  width: 50px;
  border: solid blue 2px;
  border-radius: 10px;
  margin: 10px
}

button.newb:enabled {
  outline: none;
}

button.newb:hover {
  cursor: pointer;
  background-color: white;
}

div.pyblock {
  display: none;
}
