// Colors
$black: #333333;
$_blue: #2A64C7;

// Typography
$serif: 'Lusitana', 'Palatino', 'Palatino Linotype', serif;
$sans-serif_notebook: Lato, sans-serif;
$sans-serif_interface: "Helvetica Neue", sans-serif;
$monospace: Hack, Monaco, 'Lucida Console', monospace;

$light: 300;
$normal: 400;
$semi: 600;
$bold: 700;

@import "./avatar-colors";
@import "./interface";
@import "./uploader";

body {
  font-family: $sans-serif_interface;
  color: $black;
  background: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: $_blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;    
  }
}

div[contenteditable="true"] {
  outline: none;
}

img[data-livebook-placeholder-cell] {
  border-radius: 1em;
}

.notebook {
  font-family: $sans-serif_notebook;
  margin: 0 auto;
  padding: 0;
  max-width: 45em;
  width: 100%;
}

.notebook:empty {
  display: none;
}

.notebook-title-show-placeholder {
  position: relative;  
}

.notebook-title-show-placeholder::after {
  color: #888;
  content: "What will you title your notebook?";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.notebook h1,
.notebook h2,
.notebook h3 {
  font-family: $serif;
  font-weight: $bold;
  margin: 0;
  padding: 0;
}

.notebook h1 {
  border-bottom: .08em solid rgba(0,0,0,0.125);
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: .8rem;
  letter-spacing: -.06rem;
}

.notebook h2 {
  font-size: 2em;
  letter-spacing: -.01rem;
  margin-bottom: .6rem;
}

.notebook h3 {
  font-size: 1.5em;
  margin-bottom: .5em;
  padding-bottom: .15em;
}

.notebook p {
  font-size: 1.08em;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1em;
  text-align: justify;
}

.notebook a {
  cursor: pointer;
}

// yikes that is a class name if i ever saw one
.medium-editor-toolbar-anchor-preview-helper-copy {
  display: block;
  font-size: 75%;
  opacity: .72;
  padding-right: .5em;
  padding-top: .4em;
}

.notebook-syntax-helper {
  font-weight: 600;
  position: relative;
}

.notebook-syntax-helper-code {
  display: inline-block;
  font-family: $monospace;
  margin-right: 1em;
}

.notebook-syntax-helper-docs {
  color: #999;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 91%;
  font-weight: 300;
}

.notebook-syntax-helper-blue {
  color: rgb(95, 124, 206);
}

.notebook-syntax-helper-purple {
  color: rgb(138, 9, 149);
}

.notebook-syntax-helper-orange {
  color: rgb(215, 118, 22);
}



.notebook .codewrap {
  border: .1em solid #ddd;
  border-radius: .15em;
  background: #eee;
  color: #222;
  font-size: .85em;
  padding: .8em .85em 1em .8em;
  position: relative;
  margin: 0;
  /*margin-bottom: -.1em;*/
}

.notebook .codewrap::after {
  background: #eee;
  border-bottom: .1em solid #ddd;
  border-right: .1em solid #ddd;
  content: " ";
  height: 18px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  transform: translateX(-50%) rotate(45deg) translateY(7px);
  width: 18px;
}

.notebook .code {
  font-family: $monospace;
  overflow: hidden;
  white-space: pre;
}

.notebook table {
  background: #fff;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.notebook th,
.notebook td {
  border: .07em solid #ddd;
  text-align: left;
  line-height: 1.55;
}

.notebook th {
  background: #f8f8f8;
  font-size: .85em;
  padding: .55em .9em;
}

.notebook td {
  font-size: 1em;
  padding: .4em .8em;
}

.notebook .cell {
  /*margin-bottom: 1em;*/
  position: relative;
}

.notebook img {
  max-width: 100%;
}

.notebook hr {
  border: 0;
  height: .2em;
  background: #ccc;
}

.pyresult {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: .15em;
  border-bottom-right-radius: .15em;
  font-family: $monospace;
  font-size: .85em;
  overflow: hidden;
  padding: .8em .85em 1em .85em;
  white-space: pre;
}

.pyresult::before {
  content: "→ ";
  display: inline-block;
  /*margin-top: -1em;  lift it slightly above the x-height... kind of a magick number here, but looks nicer */
}

.pyresult-error {
  background-color: #FC212C;
  background-image: url('/bang.png');
  background-repeat: no-repeat;
  background-position: .75em .5em;
  background-size: 2em;

  box-shadow: inset .25em .5em .75em 0 rgba(0,0,0,0.1);
  color: #fff;
  padding-left: 3.5em;
}

.pyresult-error::before {
  content: "";
}

.pyresult-loading {
  opacity: 1;
}

.pyresult-loading-with-message {
  opacity: 1;
  position: relative;
}

.pyresult-loading-with-message::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.active-code-cell {
  box-shadow: 0 0 .5em hsla(218, 70%, 39%, 0.86);
}

div.editor { /* !!! this is necessary specificity */
  display: none;
  z-index: 2;
}

div.ace_editor {
  box-sizing: border-box;
  font-family: $monospace !important;
  margin: 0;
}

.ace-github .ace_gutter {
  background: #D6F717 !important;
}

div.ace_scroller {
  border-radius: .15em;
}

div.ace_content {
  margin-top: 0 !important;
}

div.ace_error-marker {
  background-color: #FC212C;
}

div.ace_editor {
  border: none;
}

/* specificity necessary to override injected styles */
div.ace-github,
div.ace-content {
  background: #eee;
}



.text-green {
  color: #B1CD14;
}

/* C3 STYLES - move to separate file */
/* side note: yargh we are in specificity hell */
.notebook .c3-tooltip-container th {
  background: $black;
}

.notebook-plot {
  background: white;
  margin: 0;
  margin-top: -1.05em; /* MAGICK NUMBER - used to obscure `null` return value */
}
.notebook-plot:empty {
  display: none;
}

.c3-line {
  stroke-width: 2px;
}

.c3-circle {
  opacity: 1 !important;
}

.c3 svg {
  font: 13px sans-serif;
}

/* editor extension shtuff */

.editor-wrapper {
  position: relative;
}

.selected-line {
  transition: background 100ms ease-in-out;
}

.livebook-add-code-button {
  cursor: pointer;
  opacity: .6;
}


@media only screen and (min-width: 520px) {
  .notebook:not([id^='overlay']) {
    margin: 0 64px;
    width: calc(100% - 124px);
  }

}


@media only screen and (min-width: 840px) {}


@keyframes pulse {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.7;
  }
}
